<router-outlet></router-outlet>
<app-guage-chart score="0"></app-guage-chart>
<app-guage-chart score="10"></app-guage-chart>
<app-guage-chart score="20"></app-guage-chart>
<app-guage-chart score="30"></app-guage-chart>
<app-guage-chart score="40"></app-guage-chart>
<app-guage-chart score="50"></app-guage-chart>
<app-guage-chart score="60"></app-guage-chart>
<app-guage-chart score="70"></app-guage-chart>
<app-guage-chart score="80"></app-guage-chart>
<app-guage-chart score="90"></app-guage-chart>
<app-guage-chart score="100"></app-guage-chart>